# Want to show something as output: Use print function

In [1]:
print("Hello! World")

Hello! World

# Variables
* Variables are place holders for storing data

# Naming a variable
Rules for naming Python variables:
* A variable name must start with a letter of the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores(A-z, 0-9, and _)
* Variable names are case-sensitive (age, Age and AGE are three different variables)
* Inbuilt keyword shoul not be used as identifiers

In [2]:
a = 5
print(a)

5

In [3]:
3a = 34 #SyntaxError: invalid syntax

SyntaxError: invalid decimal literal (1797576799.py, line 1)

In [5]:
#Alpha Numeric Chracters and Underscore
name_1 = 45
print(name_1)

45

In [6]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [1]:
False = 89 # SyntaxError: invalid syntax

SyntaxError: cannot assign to False (1401809920.py, line 1)

# Id function : Returns the reference of the object stored in the variable.
* Variables are stored in Stack memory
* Values/Objects that are stored in the variables are stored in Heap memory
* Variable and it's value assigned are interlinked by reference

In [2]:
x = 5

In [3]:
id(x)

2202808549744

In [4]:
x = 45
print(id(x))

2202808551024

In [5]:
print(x)

45

In [6]:
name = "Navneet"
print(id(name))

2202865824880

# Comment : These are not iterpreted by the python interperter

In [7]:
A = 10 # this is a Comment

In [8]:
print(A)

10

# Data Types 
1. Integers
2. Floats
3. Strings
4. Booleans
5. None

In [17]:
# Integers : Non decimal numbers

number = 24
print(number)

24

# We can check the data type of the variable through type() function

In [20]:
print(type(number))
print(number)

<class 'int'>
24

In [21]:
# float: Decimal numbers

f = 1.0
print(f)
print(type(f))

1.0
<class 'float'>

In [22]:
# Booleans: True, False
B = True
print(B)
print(type(B))

True
<class 'bool'>

In [23]:
b1 = False
print(b1)
print(type(b1))

False
<class 'bool'>

In [24]:
b2 = true
print(b2)

NameError: name 'true' is not defined

In [10]:
# String: Sequence of characters
# String is immutable
# String is ordered
# String is iterable
# String is a sequence
# String is a collection of characters

# There are three ways to create a string
# 1. Using single quotes: Single quotes are used to create a single line string
# 2. Using double quotes: Double quotes are used to create a single line string
# 3. Using triple quotes: Triple quotes are used to create a multi line string

s = "Navneet"
print(s)
print(type(s))
print(s[1])

Navneet
<class 'str'>
a

In [29]:
# Single-Line Statement and String
str = 'Navneet'
print(str)
print(type(str))

Navneet
<class 'str'>

In [11]:
str1 = "Navneet'

SyntaxError: unterminated string literal (detected at line 1) (1628328253.py, line 1)

In [31]:
# Multi-Line Statements and Strings
m = '''This is a multi-line string. This is the first line.
This is the second line.
"What's your name?," I asked.
He said "Bond, James Bond."'''
print(m)
print(type(m))

This is a multi-line string. This is the first line.
This is the second line.
"What's your name?," I asked.
He said "Bond, James Bond."
<class 'str'>

In [32]:
#None
n = None
print(n)
print(type(n))

None
<class 'NoneType'>

# Input Function: Used to take input from the user
* By default it take input as a string type

In [33]:
# If you want to take input as string, use input() function

name = input("What is your name? ") # input() is a built-in function
print("Hello, " + name + "!") # + is the concatenation operator
print("Hello, {}!".format(name)) # string formatting
print(f"Hello, {name}!") # f-strings
print(type(name)) # type() returns the type of an object

Hello, Navneet!
Hello, Navneet!
Hello, Navneet!
<class 'str'>

In [34]:
# If you want to take input as a number, you have to convert it into int or float
num = input("Enter a number: ")
print(num)
print(type(num))

3
<class 'str'>

# So we can see that we gave the input as number but the type of the data is considered as string

In [12]:
# In order to tackel the above problem, we need to explicitly convert the data type of input data to int or float.
num1 = int(input("Enter first number: "))
num2 = float(input("Enter second number: "))

print("Value of num1 is:",num1)
print(type(num1))

print()

print("Value of num2 is: ", num2)
print(type(num2))

Value of num1 is: 11
<class 'int'>

Value of num2 is:  12.0
<class 'float'>

# The above conversion of data type from one to another is known as Type Conversion

In [13]:
# Now let us take an example were we had stored a string in a variable and we want to convert it into a integer.

a = "Navneet2"
print(a)
print(type(a))

Navneet2
<class 'str'>

In [14]:
# To convert it into integer type we use int() function
# To convert it into float type we use float() function

int(a)

ValueError: invalid literal for int() with base 10: 'Navneet2'

# We got an error because it can convert alphanumeric or alphabet into number

In [41]:
aa = '123'
c = int(aa)
print(c)
print(type(c))

123
<class 'int'>

In [43]:
# Can we convert a string 1.5 to a int?
# What about a string 1.5 to a float?
# What about a string 1.5 to a complex number?
# What about a string 1.5 to a boolean?

ff = '1.5'
ff = int(ff)
print(ff)
print(type(ff))

ValueError: invalid literal for int() with base 10: '1.5'

# Since we can't convert string type of variable containing float value directly into string. 
* First we have to convert this type of value into float and then into int

In [44]:
ff = '1.5'
ff = float(ff)
print(ff)
print(type(ff))

1.5
<class 'float'>

In [45]:
ff = int(ff)
print(ff)
print(type(ff))

1
<class 'int'>

In [46]:
# Printin multiple function through single print statement

print("Hello", "World", "How", "are", "you", 1, 2, 3, 4)

Hello World How are you 1 2 3 4

In [53]:
# Default Separator and End of Line in print() function
print?
# ?: Help on built-in function print in module builtins:

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

# So, you can see that there is two parameter named sep and end in print function above.
* Sep: Tells how to seperate the values. By default it is seperated by space ' '.
* End: Tells how to end the line.

In [54]:
print('Navneet', 'Shandilya')
print('Iron', "Man")

Navneet Shandilya
Iron Man

In [16]:
print("Navneet", "Shandilya", sep="->")
print('Iron', "Man", sep="*")

Navneet->Shandilya
Iron*Man

In [59]:
print('Navneet', 'Shandilya', sep='\n')
print('Iron', "Man", sep='->')

Navneet
Shandilya
Iron->Man

In [60]:
print("Hello", "World", "How", "are", "you", 1, 2, 3, 4, sep = "\n")

Hello
World
How
are
you
1
2
3
4

In [61]:
print('Navneet', 'Shandilya', end = " ")
print('Iron', "Man", end = " ")

Navneet Shandilya Iron Man

In [18]:
print('Navneet', 'Shandilya', end=' ', sep='->')
print('Iron', "Man", sep='->')

Navneet->Shandilya Iron->Man